<div
    class="container bg-slate-100 w-full flex flex-col items-center justify-center px-2 sm:px-4 pb-12 sm:pb-0"
    *ngIf="!isLoading"
>
    <h1 class="text-3xl font-bold mt-4 mb-11">
        Here we gonna see the core functionality of the draft viewer
    </h1>
    <div class="flex flex-row self-start items-end w-full justify-between">
        <div class="flex flex-row gap-4 flex-wrap">
            <div class="w-28">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="player-select"
                    >Player:</label
                >
                <div class="relative w-full inline-block">
                    <select
                        name="player-select"
                        [(ngModel)]="playerSelect"
                        (change)="onFilterChange()"
                        class="app-select w-full"
                    >
                        <option [value]="i" *ngFor="let noUse of Arr(8).fill(1); let i = index">
                            Player {{ i + 1 }}
                        </option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                    >
                        <svg
                            class="fill-current h-4 w-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                            />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="w-28">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="pack-select"
                    >Pack:</label
                >
                <div class="relative w-full inline-block">
                    <select
                        name="pack-select"
                        [(ngModel)]="packSelect"
                        (change)="onFilterChange()"
                        class="app-select w-full"
                    >
                        <option [value]="i" *ngFor="let noUse of Arr(3).fill(1); let i = index">
                            Pack {{ i + 1 }}
                        </option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                    >
                        <svg
                            class="fill-current h-4 w-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                            />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="w-28">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="pick-select"
                    >Player pick:</label
                >
                <div class="relative w-full inline-block">
                    <select
                        name="pick-select"
                        [(ngModel)]="pickSelect"
                        (change)="onFilterChange()"
                        class="app-select w-full"
                    >
                        <option
                            [value]="i"
                            *ngFor="let noUse of Arr(draftDef.cardsPerPack).fill(1); let i = index"
                        >
                            Pick {{ i + 1 }}
                        </option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                    >
                        <svg
                            class="fill-current h-4 w-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                            />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn-primary" [routerLink]="['/draft-viewer', 'list']">Go Back</a>
    </div>

    <div id="viewer-container">
        <div class="mt-7">
            <ng-container>
                <h1 class="text-3xl font-bold">Booster {{ showPackindex + 1 }}</h1>
                <div class="flex flex-wrap justify-center">
                    <!-- HERE -->
                    <ng-container *ngFor="let card of selectedCards; trackBy: trackCard">
                        <app-magic-card
                            [ngClass]="{
                                'border-4 sm:border-8 border-red-700 border-double':
                                    selectedCard === card.cardNumber,
                                'p-1 sm:p-2': selectedCard !== card.cardNumber
                            }"
                            [magicCard]="card"
                            [onlyShow]="true"
                        ></app-magic-card>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <div *ngIf="pickedCards.length > 0">
            <h1 class="text-3xl font-bold">Selected Card</h1>
            <div class="flex flex-wrap justify-center">
                <ng-container *ngFor="let card of pickedCards; trackBy: trackCard">
                    <app-magic-card
                        class="p-1 sm:p-2"
                        [magicCard]="card"
                        [onlyShow]="true"
                    ></app-magic-card>
                </ng-container>
            </div>
        </div>
    </div>

    <a class="btn-primary" [routerLink]="['/draft-viewer', 'list']">Go Back</a>
</div>
