:host {
    margin: auto;
    background-color: #ffffff;
}

.spacer {
    aspect-ratio: 960 / 300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    &.card-1 {
        background-image: url('/assets/cards/card1.jpg');
    }

    &.card-2 {
        background-image: url('/assets/cards/card2.jpg');
    }

    &.card-3 {
        background-image: url('/assets/cards/card3.jpg');
        background-position: 30% 80%;
        background-size: 600px;
    }
}

.card {
    @apply relative md:h-80 md:w-52 w-full h-52 p-7 bg-cover my-7 mx-2 rounded-lg bg-center;

    .tagline {
        color: #fff;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
    }

    &.dark {
        .card-headline,
        .tagline {
            color: #333;
        }
    }

    .card-headline {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
        color: #fff;
    }

    .card-btn-link {
        position: absolute;
        bottom: 20px;
        left: 30px;

        .card-btn {
            background-color: #fff;
            padding: 9px 25px;
            border-radius: 4px;
            color: #5b697a;

            &:hover {
                box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
            }

            &:hover,
            a:hover {
                color: #213d63;
            }
        }
    }
}
