<span>
    <label class="relative inline-flex items-center cursor-pointer" style="height: 24px">
        <input
            type="checkbox"
            [(ngModel)]="isAllColorOn"
            (change)="changeAllColorOn()"
            class="sr-only peer"
        />
        <div
            class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
        <span class="ml-3 text-lg font-medium text-gray-900 dark:text-gray-300">Color filter</span>
    </label>
</span>
<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        [(ngModel)]="isWhite"
        (change)="onChangeColorFilter('W', isWhite)"
        class="sr-only peer"
    />
    <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">White</span>
</label>
<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        [(ngModel)]="isBlue"
        (change)="onChangeColorFilter('U', isBlue)"
        class="sr-only peer"
    />
    <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Blue</span>
</label>
<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        [(ngModel)]="isBlack"
        (change)="onChangeColorFilter('B', isBlack)"
        class="sr-only peer"
    />
    <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Black</span>
</label>
<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        [(ngModel)]="isRed"
        (change)="onChangeColorFilter('R', isRed)"
        class="sr-only peer"
    />
    <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Red</span>
</label>
<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        [(ngModel)]="isGreen"
        (change)="onChangeColorFilter('G', isGreen)"
        class="sr-only peer"
    />
    <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Green</span>
</label>
<label class="relative inline-flex items-center cursor-pointer">
    <input
        type="checkbox"
        [(ngModel)]="isColorless"
        (change)="onChangeColorFilter('C', isColorless)"
        class="sr-only peer"
    />
    <div
        class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Colorless</span>
</label>
