<div class="container rounded flex flex-1 flex-col items-center bg-slate-100 p-5">
    <h1 class="text-2xl mb-2" [ngClass]="{ 'text-red-400': modifyQty < 0 }">
        {{ modifyQty > 0 ? 'Kártya hozzáadó rendszer' : 'Kártya törlő rendszer' }}
    </h1>
    <ng-container *ngIf="actualPageStep === pageStep.FORM">
        <app-modify-form [mode]="mode" (afterFinish)="onFormFinish($event)"></app-modify-form>
    </ng-container>

    <ng-container *ngIf="actualPageStep === pageStep.PREVIEW">
        <div class="mt-4 flex self-start">
            <div
                class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2 mr-3"
                (click)="startUploading()"
            >
                Tovább a feltöltésre
            </div>
            <div
                class="bg-yellow-500 hover:bg-yellow-600 text-white rounded px-4 py-2"
                (click)="actualPageStep = pageStep.FORM"
            >
                Vissza
            </div>
        </div>
        <app-modify-preview
            *ngIf="reducedArr"
            [modifyCard]="reducedArr"
            [rawModifyCard]="rawCardNumbers"
        ></app-modify-preview>
        <div class="mt-4 flex self-start">
            <div
                class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2 mr-3"
                (click)="startUploading()"
            >
                Tovább a feltöltésre
            </div>
            <div
                class="bg-yellow-500 hover:bg-yellow-600 text-white rounded px-4 py-2"
                (click)="actualPageStep = pageStep.FORM"
            >
                Vissza
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="actualPageStep === pageStep.UPLOADED">
        <app-modify-upload
            [inProgress]="inProgress"
            [isFinished]="isFinished"
            [isError]="isError"
            [cardSet]="cardSet"
            [reducedArr]="reducedArr"
            [modifyQty]="modifyQty"
            [rawCardNumbers]="rawCardNumbers"
            [cardLanguage]="cardLanguage"
            (resetPage)="resetPage()"
            (stepBack)="actualPageStep = pageStep.FORM"
        ></app-modify-upload>
    </ng-container>
</div>
