<p *ngIf="inProgress">Feltöltés folyamatban</p>

<p *ngIf="isError">Valami hiba történt</p>
<div class="btn-primary" *ngIf="isError" (click)="stepBack.emit()">Vissza javítani</div>

<p *ngIf="isFinished && !isError">Feltöltés befejezősött</p>
<div class="btn-primary my-3 w-fit" *ngIf="isFinished && !isError" (click)="resetPage.emit()">
    Újabb feltöltés
</div>
<ng-container *ngIf="isFinished && this.modifyQty > 0">
    <br />
    <button
        *ngIf="!isNewCardsFinished"
        [disabled]="isNewCardsLoading"
        class="btn-primary mt-4"
        (click)="onShowNewCards()"
    >
        Megmutatni az új kártyákat
    </button>
    <div *ngIf="filteredNewCards" class="flex flex-wrap">
        <app-modify-upload-card-state
            *ngFor="let card of filteredNewCards"
            [card]="card"
            [cardSet]="cardSet"
        ></app-modify-upload-card-state>
    </div>
</ng-container>
