@import './../../../variable.scss';

:host {
    margin-right: 10px;
}

#things {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ol,
ul {
    list-style: none;
}

@media #{$mobile-media-landscape} {
    .card-set-mobil-landscape {
        display: block;
        width: 81px;
        height: 10px;
        position: sticky;
        top: 0;
    }
}

.nowrap {
    position: relative;
    z-index: 20;
    float: left;
    margin: 5px 3px;
}

/* TODO min-width */
@media (max-width: 575px) {
    :host {
        margin-right: 3px;
    }
}
