<div class="container mx-auto bg-gray-800 calendar-container">
    <div class="flex flex-wrap">
        <div class="px-0 flex-1">
            <div class="rounded shadow bg-gray-700">
                <div
                    class="p-1 text-center text-white px-0 py-1 font-weight-bold bg-gray-800 flex justify-center"
                >
                    <fa-icon
                        (click)="onPreviousMonth()"
                        [icon]="faAngleLeft"
                        class="text-white navigate-arrow-calendar block"
                    ></fa-icon>
                    <div class="block no-select self-center" style="width: 150px">
                        {{ currentDate.getFullYear() }}
                        {{ monthNameArray[currentDate.getMonth()] }}
                    </div>
                    <fa-icon
                        (click)="onNextMonth()"
                        [icon]="faAngleRight"
                        class="text-white navigate-arrow-calendar block"
                    ></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-0 flex-1" *ngFor="let day of daysArray">
            <div class="rounded shadow bg-black">
                <div
                    class="p-1 text-center text-white px-0 py-1 font-weight-bold bg-gray-800 hidden sm:block"
                >
                    {{ day.long }}
                </div>
                <div
                    class="p-1 text-center text-white px-0 py-1 font-weight-bold bg-gray-800 block sm:hidden"
                >
                    {{ day.short }}
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap day-container">
        <ng-container *ngIf="!calendarDayList">
            <ng-container *ngFor="let dummyDay of dummyDays; let i = index">
                <div class="day-item" style="margin: 2px">
                    <div class="rounded shadow h-full bg-gray-500">
                        <div class="px-0 py-1 px-sm-1" style="min-height: 77px">
                            <div></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 7 === 6" class="w-full"></div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="calendarDayList">
            <ng-container *ngFor="let element of calendarDayList; let i = index">
                <div class="day-item" style="margin: 2px">
                    <div
                        class="rounded shadow h-full"
                        [ngClass]="{
                            'bg-gray-500': element.isOffMonth,
                            'bg-slate-200': !element.isOffMonth
                        }"
                    >
                        <div class="px-0 py-1 px-sm-1" style="min-height: 77px">
                            <fa-icon
                                [icon]="faCalendarPlus"
                                class="position-absolute hidden p-sm-1 add-event-icon"
                                style="bottom: 0; right: 0; z-index: 1"
                            ></fa-icon>
                            <div>
                                <p class="mb-0 text-right no-select" style="font-size: 14px">
                                    {{ element.day }}
                                </p>
                            </div>
                            <app-calendar-element
                                [calendarEvent]="e"
                                *ngFor="let e of element.calendarEventList"
                            ></app-calendar-element>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 7 === 6" class="w-full"></div>
            </ng-container>
        </ng-container>
    </div>
</div>

<app-event-details
    *ngIf="isDetailsOpen"
    [eventPrivilege]="eventPrivilege"
    (deleteCalendarEvent)="onDelete($event)"
></app-event-details>

<a *ngIf="eventPrivilege" class="my-4 btn btn-primary" [routerLink]="['/', 'calendar', 'add']"
    >Új esemény</a
>
