<li class="magic-card-li relative magiccard_li">
    <!-- Normal cards -->
    <picture class="magiccard" [appMagicCardAmount]="magicCardAmount" [onlyShow]="onlyShow" (click)="openCardModal()">
        <source
            [attr.lazyLoad]="imageSrcWebp"
            [attr.defaultImage]="defaultWebp"
            [offset]="100"
            type="image/webp"
        />
        <source
            [attr.lazyLoad]="imageSrcPng"
            [attr.defaultImage]="defaultPng"
            [offset]="100"
            type="image/png"
        />
        <img
            class="magiccard"
            [lazyLoad]="imageSrcPng"
            [defaultImage]="defaultPng"
            [offset]="100"
            alt=""
            [title]="card.cardNumber"
            ondragstart="return false;"
        />
    </picture>
</li>
