<li class="magic-card-li relative magiccard_li list-none {{ imgSize }}">
    <!-- Normal cards -->
    <picture
        class="magiccard"
        [appMagicCardAmount]="magicCardAmount"
        [onlyShow]="onlyShow"
        (click)="openCardModal()"
    >
        <source
            [attr.lazyLoad]="imageSrcWebp"
            [attr.defaultImage]="defaultWebp"
            type="image/webp"
        />
        <!-- <source [attr.lazyLoad]="imageSrcPng" [attr.defaultImage]="defaultPng" type="image/png" /> -->
        <img
            class="magiccard"
            [lazyLoad]="imageSrcWebp"
            [defaultImage]="defaultWebp"
            [offset]="100"
            alt=""
            [title]="card.cardNumber"
            ondragstart="return false;"
        />
    </picture>
</li>
