@import './../variable.scss';

.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav-item.active {
    .nav-link {
        color: var(--bs-navbar-active-color);
    }
}

@media #{$mobile-media-landscape} {
    .navbar {
        margin-bottom: -15px;
    }
}
